.calendar-settings {
  height: 100%;
  :global {
    .ant-tabs {
      line-height: 18px;
    }
    .ant-tabs.ant-tabs-left > .ant-tabs-nav {
      width: 200px;
    }
    .ant-tabs.ant-tabs-top > .ant-tabs-nav {
      width: 100%;
      margin: 0;
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-tab-active {
      padding-left: 24px;
      padding-top: 11px;
      padding-bottom: 11px;
      margin: 0;
    }
    .ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-tab-active {
      padding: 11px 24px;
      margin: 0;
    }
    .ant-tabs-tab-active {
      background-color: #eef7fb;
    }
    .ant-tabs-tab:hover {
      color: var(--primary-color);
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar {
      right: unset;
    }
    .ant-tabs-tab {
      color: var(--light-grey-color);
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #9292a3;
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-family: 'Circular-Std-Book';
      font-weight: 500;
      color: #54b2d3;
    }
    .ant-tabs-left
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane {
      padding-left: 0;
    }
  }
}
