.social-media-icons {
  display: flex;
  width: 100%;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.social-border {
  border: 1px solid #ecedf0;
  font-size: 26px;
  line-height: 22px;
  margin-right: 16px;
  border-radius: 3px;
  padding: 10px;
  color: #9292a3;
  position: relative;
  display: block;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }

  label {
    position: absolute;
    @media screen and (max-width: 767px) {
      position: relative;
    }
  }
  :global {
    .ant-checkbox-inner {
      border-radius: 50%;
      height: 12px;
      width: 12px;
      @media screen and (max-width: 767px) {
        height: 16px;
        width: 16px;
      }
      &::after {
        width: 3.714286px;
        height: 6.142857px;
        border-width: 1px;
        @media screen and (max-width: 767px) {
          width: 4.714286px;
          height: 8.142857px;
        }
      }
    }
    .ant-checkbox-wrapper {
      top: 0;
      right: 1px;
      line-height: normal;
    }
  }
  .socialbox {
    display: flex;
    align-items: center;
    .social-name {
      color: #3d3d46;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin-left: 10px;
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }
}
.icon-color {
  color: #54b2d3;
  border: 1px solid #54b2d3;
  @media screen and (max-width: 767px) {
    background-color: #eef7fb;
  }
  .social-name {
    color: #54b2d3;
  }
}
.social-border-red {
  border: 1px solid #ff4d4f;
}

.hidesection {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.label {
  display: none;
  @media screen and (max-width: 768px) {
    display: inline;
  }
}
