.breadcrumb {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
}
:global {
  .ant-breadcrumb-separator {
    font-size: 16px;
    color: #cfcfd7;
  }
  .ant-breadcrumb {
    font-family: 'Circular-Std-Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--light-grey-color);
  }
  .ant-breadcrumb > span:last-child {
    font-family: 'Circular-Std-Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #cfcfd7;
  }
}
