.sliderContainer {
  .sliderTitle {
    color: #3d3d46;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
  .sliderMain {
    > div:first-child {
      background-color: #ecedf0;
      border-radius: 4px;
    }
  }
  .sliderValue {
    margin-bottom: 0;
    color: #3d3d46;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
}
