.btnCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.popOverContainer {
  display: flex;
  :global .ant-popover-inner-content {
    padding: 9px 14px;
  }
}
.dotWrapper {
  .dotList {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      margin: 0 0 0 10px;
      font-size: 14px;
      line-height: 22px;
      color: #9292a3;
    }
  }
}
